<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['./']" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isAuth" [routerLink]="['/fichiers']" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="document"></ion-icon>
      <ion-label>Fichiers</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isAuth" [routerLink]="['account']" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isAdmin" [routerLink]="['admin']" routerLinkActive="active-tab">
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="!isAuth" [routerLink]="['/login']" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Connexion</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
