<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Paramètres</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item  [routerLink]="['/admin','fichiers','new']">
      <ion-label>Ajouter un fichier</ion-label>
    </ion-item>
    <ion-item  [routerLink]="['/admin','watch']">
      <ion-label>Gérer les fichiers utilisateurs</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
