<ion-content>
  <ion-card>
    <img *ngIf="typeService.checkImage(fichier.filext)" src="{{fichier.details}}" />
    <ion-card-header>
      <ion-card-title>{{fichier.title}}</ion-card-title>
      <ion-card-subtitle>{{fichier.description}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="typeService.checkJson(fichier.filext)" id="json">
          <pre><code>{{fichierJson | json}}</code></pre>
      </div>
      <div *ngIf="typeService.checkText(fichier.filext)" id="text">
        <pre><code>{{fichierText}}</code></pre>
      </div>
    </ion-card-content>
    <ion-button color="primary"">Download</ion-button>
  </ion-card>
</ion-content>
